.footer
  min-height: 650px
  background-color: #191919
  padding: 50px 0 0
  & a:hover
    color: #fff
.footerContainer
  max-width: calc( 100% - 200px )
  margin: 0 auto
  display: flex
  align-items: center
.footer__listContainer
  display: flex
  flex-direction: column
  & div
    display: flex
    &:first-child
      margin-bottom: 50px
.footerLink__list
  margin-right: 50px
.footerList__link
  list-style: none
  margin-bottom: 10px
  color: rgba(255, 255, 255, 0.4)
  font-size: 0.875rem
  font-weight: 500
  &:first-child
    font-size: 1rem
    font-weight: bold
    color: #fff
    margin-bottom: 18px
.about__link
  & a
    margin-right: 10px
.about
  color: rgba(255, 255, 255, 0.4)
  margin-left: auto

.contact
  & div
    margin-top: 10px
