@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap')

.container
  max-width: calc( 100% - 150px )
  margin: 95px auto 80px
  min-height: 100vh
.main__title
  text-align: center
  font-family: 'Oswald', sans-serif
  font-size: 2.125rem
  font-weight: 600
  margin: 0 0 15px
.main__content
  font-family: 'Roboto', sans-serif
  font-size: 1rem
  font-weight: 300
  line-height: 30px
  margin: 0 0 50px
.tournaments
  max-width: 650px
  margin: 50px auto
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 30px 25px
.tournaments__item
  max-width: 300px
  list-style: none
.tournamentsItem__image
  width: 100%
  height: 150px
  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 10px
.tournamentsItem__title
  font-family: 'Roboto', sans-serif
  font-size: 1rem
  font-weight: 600
  margin: 10px 0
.futsal__img
  width: 100%
  height: 100%
  border-radius: 10px
.futsal__image
  max-width: 980px
  height: 700px
  margin: 0 auto

@media screen and (max-width: 1200px)
  .futsal__image
    height: 600px
@media screen and (max-width: 970px)
  .futsal__image
    height: 500px
  .container
    max-width: calc( 100% - 100px )
@media screen and (max-width: 790px)
  .futsal__image
    height: 400px
@media screen and (max-width: 660px)
  .pageLink__list
    max-width: 900px
  .futsal__image
    height: 320px
@media screen and (max-width: 520px)
  .futsal__image
    height: 270px
@media screen and (max-width: 390px)
  .futsal__image
    height: 200px
@media screen and (max-width: 570px)
  .container
    max-width: calc( 100% - 50px )
  .tournaments__item
    padding: 0 15px 0 15px
  .tournaments
    max-width: 300px
    grid-template-columns: repeat(1, 2fr)
  .pageLink__item
    padding: 0 10px 0 10px
@media screen and (max-width: 450px)
  .main__content
    font-size: 0.875rem
    line-height: 25px
  .main__title
    font-size: 1.5rem
  .container
    margin: 95px auto 40px
