@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap')
.container
  display: flex
  align-items: center
  justify-content: space-between
  max-width: calc( 100% - 100px )
  margin: 0 auto
  height: 80px
  transition: all .3s
  position: relative
.navbar
  width: 100%
  top: 0
  background-color: #fff
  position: fixed
  transition: all .1s
  z-index: 100
  overflow: hidden
.navbar.navbarFixed
  border-bottom: 1px solid #DFDFEF
  box-shadow: 1px 0 0px 1px #DFDFEF
  .container
    height: 50px
  .logo
    transform: translateX(-50%) scale(0)

.navbarShow
  transform: translateY(-100%)
.logo
  position: absolute
  left: 50%
  transform: translateX(-50%) scale(1)
  transition: all .3s ease

.nav
.nav__item
  font-size: 14px
  padding: 33px 1.25rem 2rem
  transition: all .3s
  position: relative
  cursor: pointer
  a
    position: relative
    padding: 0 0 5px 0
    &::after
      content: ""
      position: absolute
      left: 0
      bottom: 0px
      width: 100%
      height: 1px
      background-color: #fff
      transform: translateY(5px)
      opacity: 0
      transition: .3s all
  &::before
    content: " "
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #0C4083
    z-index: -100
    opacity: 0
    transform: translateY(100%)
    transition-property: transform, opacity
    transition-duration: 300ms, 0ms
    transition-delay: 0ms, 300ms,
    transform-style: ease-in
  &:hover::before
    transform: translateY(0)
    opacity: 1
    transition-property: transform, opacity
    transition-duration: 300ms, 0ms
    transition-delay: 0ms, 0ms,
  &:hover
    color: #fff
    // a
    //   &:hover::after
    //     transform: translateY(0)
    //     opacity: 1
  &:hover .sub__linkList
    visibility: visible
    opacity: 1
    z-index: 4
    color: #000
.nav__Link
  font-family: "inter", sans-serif
  font-weight: 500
  font-size: 14px
.sub__linkList
  position: absolute
  font-family: 'Inter', sans-serif
  font-size: 12px
  opacity: 0
  z-index: -1
  top: 100%
  left: 0
  box-shadow: 5px 5px 4px -2px #00000077
  background-color: #fff
  li
    list-style: none
    padding: 10px 20px 5px 20px
    font-family: "inter", sans-serif
    font-weight: 400
    min-width: 300px
    &:first-child
      padding: 15px 20px 5px 20px
    &:last-child
      padding: 10px 20px 15px 20px

.subNav__link
  display: inline
