@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap')

.container
  max-width: calc( 100% - 100px )
  margin: 0 auto
  height: 80px
  transition: all .3s
  position: relative
  display: flex
  align-items: center

.navbar
  width: 100%
  top: 0
  background-color: #fff
  position: fixed
  z-index: 100
  transition: all .1s
.logo
  position: absolute
  left: 50%
  transform: translateX(-50%) scale(1)
  transition: .3s
  transition-delay: .3s
.navbar.navbarFixed
  border-bottom: 1px solid #DFDFEF
  box-shadow: 1px 0 0px 1px #DFDFEF
  .container
    height: 60px
  .navigation
    height: 60px
  .nav
    height: 60px
  .arrowUp
    transform: translateX(-50%) translateY(0) scale(1)
    transition-delay: .3s
  .logo
    transform: translateX(-50%) scale(0)
    transition-delay: .0s
  .subNav__list
    border-top: 2px solid #DFDFEF
    border-image: none
.navbarShow
  transform: translateY(-100%)
.navigation
  width: 100%
  height: 80px
  display: flex
  align-items: center
  justify-content: space-between
.nav
  display: flex
  align-items: center
  height: 80px
  transition: all .1s
  li
    list-style: none
.nav__list
  position: relative
  height: 100%
.subNav__list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  position: absolute
  overflow: hidden
  background-color: #fff
  min-width: 600px
  border-top: 4px solid
  border-image: linear-gradient(90deg, rgba(12,64,131,1) 0%, rgba(0,159,255,1) 100%) 1% stretch
  z-index: 100
.arrowSvg
  max-width: 15px
  position: relative
  top: 0
  left: 0
  margin-left: 5px
  transition: .3s
.main__link.mainlinkActive
  .arrowSvg
    transform: rotate(180deg)
.subNavList__link,
.navList__link,
.main__link
  font-family: 'Montserrat', sans-serif
  text-transform: uppercase
  cursor: pointer
  line-height: 15px
  display: flex
  align-items: center
  font-size: 0.875rem
  font-weight: 400
.main__link
  height: 100%
  font-weight: 500
  font-size: 0.875rem
  padding: 0 20px
  display: flex
  align-items: center
  z-index: 100
.navList__link.relative
  padding: 18px 39px 18px 25px
  &:first-child
    border-top: none
  &:nth-child(2)
    border-top: none
  &:nth-child(even)
    border-right: none
  &:hover
    background-color: #ffffff00
    padding: 18px 39px 18px 25px
    color: #000
    font-weight: 500
.navList__link
  position: relative
  padding: 18px 39px 18px 25px
  border-top: 1px solid #e1e1e1
  border-right: 1px solid #e1e1e1
  transition: .3s
  .navList__arrow
    max-width: 20px
    position: absolute
    transform: translateY(-50%) translateX(-100%)
    top: 50%
    left: 20px
    opacity: 0
    transition: .3s
  &:first-child
    border-top: none
  &:nth-child(2)
    border-top: none
  &:nth-child(even)
    border-right: none
  &:hover
    background-color: rgba(12, 64, 131, 1)
    padding: 18px 20px 18px 44px
    color: #fff
    font-weight: 500
    .navList__arrow
      left: 20px
      opacity: 1
      transform: translateY(-50%) translateX(0)
.subNavList__link
  position: relative
  padding: 18px 30px 18px 34px
  border-top: 1px solid #e1e1e1
  border-right: 1px solid #e1e1e1
  transition: .3s
  .subNavList__arrow
    max-width: 20px
    position: absolute
    transform: translateY(-50%) translateX(-100%)
    top: 50%
    left: 20px
    opacity: 0
    transition: .3s
  &:nth-child(even)
    border-right: none
  &:hover
    background-color: #0c4083
    padding: 18px 20px 18px 44px
    color: #fff
    font-weight: 500
    .subNavList__arrow
      left: 20px
      opacity: 1
      transform: translateY(-50%) translateX(0)
// .arrowSvg.arrowActive
.hamburger
  display: none
.backDrop
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1
.arrowUp
  position: absolute
  left: 50%
  transform: translateX(-50%) translateY(-100px) scale(1)
  transition: .3s
  transition-delay: .0s
  cursor: pointer
  height: 30px
  color: rgba(12,64,131,1)
  svg
    max-height: 100%
.backArrow
  height: 0
  width: 0
  display: none
@media screen and (max-width: 1400px)
  .container
    position: relative
    justify-content: flex-end
    overflow: visible
  .navigation
    position: fixed
    right: 0
    top: 0
    width: 50%
    height: 100vh
    padding-left: 35px
    padding-top: 40px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    background-color: #fff
    border-top: 4px solid rgba(12, 64, 131, 1)
    transition: .3s
    transform: translateX(calc( 100% + 50px)) translateY(80px)
    &.navigationVisible
      transform: translateX(50px) translateY(80px)
  .backArrow
    display: flex
    position: relative
    width: 80px
    height: auto
    margin-top: 30px
    align-items: center
    justify-content: space-between
    font-size: 0.875rem
    font-family: 'Montserrat', sans-serif
    text-transform: uppercase
    font-weight: 500
    cursor: pointer
    svg
      position: absolute
      left: -25px
      max-width: 20px
  .subNav__list
    position: absolute
    right: 0
    top: 0
    width: 100%
    height: 100vh
    border-top: none
    min-width: auto
    padding-left: 60px
    padding-top: 40px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    background-color: #fff
    transform: translateX(calc( 100% + 50px)) translateY(80px)
    &.navLinkActive
      transform: translateX(50px) translateY(80px)

  .subNavList__arrow,
  .navList__arrow
    display: none
  .navList__link.relative,
  .navList__link,
  .subNavList__link
    padding: 0
    border-top: none
    border-right: none
    color: #000
    &:hover
      background-color: #ffffff00
      padding: 0
      color: #000
      font-weight: 500
      .subNavList__arrow,
      .navList__arrow
        display: none

  .nav
    width: 100%
    height: auto
    flex-direction: column
    align-items: flex-start
    .main__link
      height: auto
    .navList__link
      padding: 0
      border-top: none
      font-weight: 500
      margin: 20px 0 0
    .subNavList__link
      margin: 20px 0 0
    .main__link,
    .navList__link,
    .subNavList__link
      padding-left: 0px
      font-size: 0.875rem
  .nav__list
    position: static
    margin: 30px 0 0
  .hamburger
    display: block
    &.hamburgerVisible
  .logo
    left: 0
    transform: translateX(0) scale(1)
  .arrowUp
    left: 0
    transform: translateX(0) translateY(-100px) scale(1)
    height: 30px
  .navbar.navbarFixed
    .navigation
      height: 100vh
      transition: .3s
      transform: translateX(calc( 100% + 50px)) translateY(60px)
      border-top: 2px solid #DFDFEF
      &.navigationVisible
        transform: translateX(50px) translateY(60px)
        transition: .2s
    .subNav__list
      border-top: none
    .nav
      height: auto
    .arrowUp
      transform: translateX(0) translateY(0) scale(1)

@media screen and (max-width: 792px)
  .container
    max-width: calc( 100% - 40px )
    margin: 0 auto
    height: 80px
@media screen and (max-width: 630px)
  .navigation
    width: 70%

@media screen and (max-width: 450px)
  .navigation
    width: 100%
    &.navigationVisible
      transform: translateX(0) translateY(80px)
  .logo
    img
      height: 50px
  // .container
  //   height: 60px
  // .navigation
  //   height: 60px
  // .nav
  //   height: 60px
